<div class="col-lg-6 offset-lg-3">
                    <div class="card">
                        <div class="card-header">Edit Gig</div>
                        <div class="card-body card-block">
                          {{#if message}}
                              <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                                        {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {{/if}}
                            <form method="post" class="" enctype="multipart/form-data">
                              <div class="form-group">
                                  <div class="input-group">
                                      <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="{{gigedit.title}}" required>
                                      <div class="input-group-addon"><i class="fa fa-text-width"></i></div>
                                  </div>
                              </div>                              
                              <div class="form-group">
                                  <div class="input-group">
                                      <select name="restaurant" id="restaurant" class="form-control" required>
                                        {{#each restaurants}}
                                              <option value="{{name}}">{{name}}</option>
                                        {{/each}}
                                      </select>
                                    <div class="input-group-addon"><i class="fa fa-sitemap"></i></div>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="input-group">
                                      <select name="category" id="category" class="form-control" required>
                                        {{#each categories}}
                                            <option value="{{code}}" selected>{{name}}</option>
                                        {{/each}}
                                      </select>
                                    <div class="input-group-addon"><i class="fa fa-sitemap"></i></div>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="input-group">
                                      <input type="number" id="price" name="price" placeholder="Price" class="form-control" value="{{gigedit.price}}" required>
                                      <div class="input-group-addon"><i class="fa fa-dollar"></i></div>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="input-group">
                                      <input type="number" id="oldprice" name="oldprice" placeholder="Old Price" class="form-control" value="{{gigedit.oldprice}}">
                                      <div class="input-group-addon"><i class="fa fa-dollar"></i></div>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="input-group">
                                      <textarea name="about" id="about" rows="9" placeholder="About" class="form-control">{{gigedit.about}}</textarea>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="input-group">
                                      <textarea name="details" id="details" rows="9" placeholder="Details" class="form-control">{{gigedit.details}}</textarea>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="input-group">
                                      <input type="text" id="label" name="label" placeholder="Label" class="form-control" value="{{gigedit.label}}">
                                      <div class="input-group-addon"><i class="fa fa-text-width"></i></div>
                                  </div>
                              </div>

                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="picture" class=" form-control-label">File input</label></div>
                                    <div class="col-12 col-md-9"><input type="file" id="picture" name="picture" class="form-control-file"></div>
                                </div>

                                <div class="row form-group">
                                  <div class="col col-md-3">Current Picture</div>
                                  <div class="col col-md-3"><img style="width: 80px; height: 80px" src='images/uploads/gig/{{gigedit.picture}}'></div>
                                </div>
                                <div class="form-actions form-group text-right"><button type="submit" class="btn btn-success btn-sm">Submit</button></div>
                            </form>
                        </div>
                    </div>
                </div>
