
{{#if message}}
    <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
              {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
  {{/if}}

<div class="row">
  <div style="margin-left: 95%">
    <a class=" float-right btn btn-success" href="/addgig" role="button">Add</a>
  </div>
</div>

<br>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Gigs</strong>
        </div>
        <div class="table-stats order-table ov-h">
            <table class="table ">
                <thead>
                    <tr>
                        <th class="serial">#</th>
                        <th>Picture</th>
                        <th>User</th>
                        <th>Title</th>
                        <th>Restaurant</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Old Price</th>
                        <th>Label</th>
                        <!-- <th>Created</th> -->
                        <th>Active</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{# each gigs}}
                        <tr>
                          <td class="serial">{{@index}}</td>
                          <td class="avatar">
                              <div class="round-img">
                                  <a href="#"><img class="rounded-circle" src="images/uploads/gig/{{picture}}" alt=""></a>
                              </div>
                          </td>
                          <td class="serial">{{owner.username}}</td>
                          <td class="serial">{{title}}</td>
                          <td class="serial">{{restaurant.name}}</td>
                          <td class="serial">{{category.name}}</td>
                          <td class="serial">{{price}}</td>
                          <td class="serial">{{oldprice}}</td>
                          <td class="serial">{{label}}</td>
                          <!-- <td class="serial">{{created}}</td> -->
                          <td class="serial">{{enabled}}</td>
                          <td>
                              <a class="btn btn-primary" href="/editgig/{{_id}}" role="button"><i class="fa  fa-edit"></i></a>
                              <button class="btn btn-danger deletebtn" href="#" role="button" data-toggle="modal" data-target="#deletemodal" id="{{_id}}"><i class="fa fa-trash-o"></i></button>
                              <a class="btn btn-secondary" href="/disablegig/{{_id}}" role="button"><i class="fa fa-level-up"> <i class="fa fa-level-down"></i></i></a>
                          </td>
                        </tr>
                    {{/ each}}
                </tbody>
            </table>
        </div> <!-- /.table-stats -->
    </div>
  </div>
</div>
<input type="hidden" id="hiddendelete" value="" />
<input type="hidden" id="hiddendeleteentity" value="gigs" />
<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="deletemodal" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="smallmodalLabel">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    This acction will delete permantely the element
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger modaldeletebtn">Delete</button>
            </div>
        </div>
    </div>
</div>
