<div class="container">
  <h1 class="text-center">Mis pedidos</h1>

  <div class="row">
    <div class="overview">
      <div class="list-orders-card">
        <div class="table-margin">
          <table class="table">
            <thead>
              <tr>
                <th>Orden</th>
                <th>Precio<th>
                <th>Estatus</th>

              </tr>
            </thead>
            <tbody>
              {{#each orders}}
              <tr>
                <td><img class="order-image-my-gig" src="{{ gig.picture }}">
                  <span>{{ gig.title }}</span>
                </td>
                <td>${{ gig.price }}</td>
                <td><button class="btn btn-warning">En progreso</button></td>
                <td><a href="/users/{{ buyer._id }}/orders/{{ _id }}" class="btn btn-primary">Envia un mensaje al restaurante</a></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

</div>
