<div class="col-lg-6 offset-lg-3">
                    <div class="card">
                        <div class="card-header">Edit Restaurant</div>
                        <div class="card-body card-block">
                          {{#if message}}
                              <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                                        {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {{/if}}
                            <form method="post" class="" enctype="multipart/form-data">
                              <div class="form-group">
                                  <div class="input-group">
                                      <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="{{restedit.name}}" required>
                                      <div class="input-group-addon"><i class="fa fa-text-width"></i></div>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="input-group">
                                      <input type="text" id="dir" name="dir" placeholder="Direction" class="form-control" value="{{restedit.direction}}" required>
                                      <div class="input-group-addon"><i class="fa fa-arrow-circle-o-right"></i></div>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="input-group">
                                      <textarea name="description" id="description" rows="9" placeholder="Description" class="form-control">{{restedit.description}}</textarea>
                                  </div>
                              </div>

                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="picture" class=" form-control-label">File input</label></div>
                                    <div class="col-12 col-md-6"><input type="file" id="picture" name="picture" class="form-control-file"></div>
                                </div>
                                <div class="row form-group">
                                  <div class="col col-md-3">Current Picture</div>
                                  <div class="col col-md-3"><img style="width: 80px; height: 80px" src='images/uploads/restaurant/{{restedit.picture}}'></div>
                                </div>
                                <div class="form-actions form-group text-right"><button type="submit" class="btn btn-success btn-sm">Submit</button></div>
                            </form>
                        </div>
                    </div>
                </div>
